div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 10s ;
    position: relative;
    animation: movecolor 1s colorTransform;

}

@keyframes example {
0% {background-color: rgb(0, 0, 0);}
25% {background-color: rgb(21, 255, 0);}
50% {background-color: rgb(0, 225, 255);}
75% {background-color: rgb(85, 0, 255);}
100% {background-color: rgb(0, 0, 0);}
}
@keyframes movecolor {
0% {background-color: rgb(0, 0, 0); left:0; top:0;}
25% {background-color: rgb(21, 255, 0); left:150px; top:150px;}
50% {background-color: rgb(0, 225, 255); left: 300px; top: 200px;}
75% {background-color: rgb(85, 0, 255); left:200px; top:500px;}
100% {background-color: rgb(0, 0, 0); left:0px; top:0px;}
}
@keyframes colorTransform {
0% {background-color: rgb(0, 0, 0); transform: rotate(0deg); scale: (1);}
25% {background-color: rgb(21, 255, 0); transform: rotate(50deg); scale(6); }
50% {background-color: rgb(0, 225, 255); transform: rotate(-20deg); scale(.2);}
75% {background-color: rgb(85, 0, 255); transform: rotate(0deg); scale(1.5);}
100% {background-color: rgb(0, 0, 0);  transform: rotate(0deg); scale: (1);}
}

